@model IEnumerable<CQRS2012.Gui.Models.Game>

<table>
    <tr>
        <th>
            HomeTeam
        </th>
        <th>
            GuestTeam
        </th>
        <th>
            GameStartDate
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameStartDate)
        </td>
        <td>
       
          @if (item.IsFinished)
          {            
            @Html.ActionLink( "Zmień wynik" , "UpdateResult", new { id=item.Id })               
          }
          else
          {
            @Html.ActionLink( "Finish" , "Finish", new { id=item.Id })      
          }    
       
          @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
